.preview {
  display: flex;
  padding: 10vh 0 0 0;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  color: $color-default-white;

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }

  &__hello,
  &__name,
  &__link-tg,
  &__link-gh,
  &__info {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
  }

  & a {
    color: inherit;
    margin: 0 0 10px;
  }

  &__list-info {
    list-style-type: none;
  }

  &__button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    min-height: 50px;
    margin: 0 auto;
    border: none;
    outline: none;
    background-color: $item-color;
    color: $text-color;
    cursor: pointer;
    font-weight: 700;
    border-radius: 11px;
    text-transform: uppercase;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
      color: $item-color;
      background-color: $color-default-white;
    }
  }
}
