@import './reboot';
@import './fonts';

html {
  scroll-behavior: smooth;
  font-size: size-desktop(16px);
  line-height: size-desktop(24px);

  @include vp--1919 {
    font-size: 16px;
    line-height: 24px;
  }
}

/* body {
  background-color: $bg-color;
} */

.App {
  display: flex;
  flex-direction: column;
  background-image: url('../assets/img/bckg_texture.jpg');
  background-repeat: repeat;
  background-size: 100% auto;

  &--loading {
    background: $color-default-white;
  }

  &__to-header {
    position: sticky;
    bottom: 20px;
    left: calc(100% - 20px);
    transform: translate(-50%, 0);
    width: 70px;
    height: 70px;
    background-color: rgba(241, 242, 246, 0.8);
    border-radius: 50%;
    color: $color-default-black;
    transition: opacity 0.3s ease, visibility 0.3s ease, color 0.3s ease,
      border 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    border: solid 1px $color-transparent;
    outline: none;

    &:hover {
      color: $item-color;
      background-color: $color-default-white;
    }
  }
}

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: none;
  -webkit-text-fill-color: unset;
}

input:-internal-autofill-selected {
  color: unset;
}
